---
import Layout from '../../layouts/Layout.astro';
import {getPieceUnique} from '../../lib/api/piece-unique.js';
import {getPieceUniques} from '../../lib/api/piece-uniques.js';

const {slug} = Astro.params;

export async function getStaticPaths(){
  const pieceuniques = await getPieceUniques();
  const slugs = pieceuniques.map(piece => piece.slug);
  return slugs.map(slug => ({
    params: {slug}
  }));
}

const piece = await getPieceUnique(slug);
console.log("voila ce qu'il y a dans la vue", piece);

---

<Layout>
  <h1>
    {piece.titre}
  </h1>
</Layout>
