---
import Layout from '../layouts/Layout.astro';
import {getPage} from '../lib/api/page.js';
import OptimizeByCloudinary from '../lib/OptmizeByCloudinary.js';

const page = await getPage('a-propos');


---

<Layout titre=" KRAZE |À propos" description="Découvrez l'histoire de Kraze, une marque de corsets et bustiers faits main par Jeanne Zipper. Apprenez-en plus sur notre passion pour la corseterie et notre engagement envers l'artisanat de qualité.">
<div class="fullscreen">
  <div class="lg:mx-[5em] flex flex-col h-[100%] items-center">
    <h1 class="lg:mt-[2em] mb-[2em] lg:w-[45%] text-center">{page.content[0].titre.toUpperCase()}</h1>
    <div class="flex lg:flex-row flex-col mt-auto items-center w-[100%]">
      <img src= {OptimizeByCloudinary(page.content[1].photo.url)} loading="eager" class="lg:w-[50%] lg:mb-[0em] mb-[2em]"/>
      <span class="lg:w-[50%] flex flex-col items-center lg:ml-[5em] lg:pl-[5em] lg:pr-[8em]">
        <h2 class="mb-[1em]">{page.content[1].titre.toUpperCase()}</h2>
        <p class="break-words text-center last-center">{page.content[1].texte}</p>
    </span>
    </div>
  </div>
</div>
<div class="lg:mx-[5em] flex flex-col h-[100%] items-center">
  <div class="flex justify-center mt-[5em] mb-[5em]">
    <img src="/logo/MONOGRAMME_KRAZE.svg" alt="KRAZE Logo" class="lg:w-[8em] w-[5em] m-auto " />
  </div>
  <div class="flex lg:flex-row flex-col mt-auto items-center  w-[100%]">
    <span class="lg:w-[50%] flex flex-col items-center lg:ml-[5em] lg:pl-[5em] lg:pr-[8em]">
      <h2 class="mb-[1em]">{page.content[2].titre.toUpperCase()}</h2>
      <p class="break-words text-center last-center">{page.content[2].texte}</p>
  </span>
    <img src={OptimizeByCloudinary(page.content[2].photo.url)} class="lg:w-[50%] my-[2em] lg:my-[0em]"/>
</div>
<div class="flex justify-center lg:mt-[8em] mt-[3em] w-[100%]">
</div>
</Layout>
