---
import Layout from '../layouts/Layout.astro';
import {getPage} from '../lib/api/page.js';
import ContactForm from '../components/contactForm.jsx';
import OptimizeByCloudinary from '../lib/OptmizeByCloudinary.js';



const page = await getPage('projet-custom');

---
<Layout titre=" KRAZE |Projet custom|Contactez-nous pour une création sur mesure" description="Envie d’un corset ou d'un bustier unique, brodé, ou dans un coloris spécifique ? Contactez-nous, nous vous ferons un devis !">
<div class="fullscreen">
  <div class="lg:mx-[5em] flex flex-col h-[100%] items-center">
    <h1 class="lg:mt-[2em] mb-[2em] lg:w-[45%] text-center">{page.content[0].titre.toUpperCase()}</h1>
    <div class="flex lg:flex-row flex-col mt-auto items-center">
      <img src=`${OptimizeByCloudinary(page.content[1].photo.url)}` class="lg:w-[50%] lg:mb-[0em] mb-[2em]"/>
      <span class="lg:w-[50%] flex flex-col items-center lg:ml-[5em] lg:pl-[5em] lg:pr-[8em]">
        <h2 class="mb-[1em]">{page.content[1].titre.toUpperCase()}</h2>
        <p class="break-words text-center last-center">{page.content[1].texte}</p>
    </span>
    </div>
  </div>
</div>
<div class="lg:mx-[5em] flex flex-col h-[100%] items-center">
  <div class="flex justify-center mt-[5em] mb-[5em]">
    <img src="/logo/MONOGRAMME_KRAZE.svg" alt="KRAZE Logo" class="lg:w-[8em] w-[5em] m-auto " />
  </div>
</div>
  <div class="lg:mx-[5em] items-center flex items-center justify-center flex-col">
    <div class="  flex  flex-col items-center  lg:w-[60%]">
      <h1 class="text-center">FORMULAIRE DE CONTACT</h1>
      <ContactForm client:load />
    </div>
  </div>
</Layout>
