---
import '../styles/global.css';
import CartBadge from '../components/CartBadge';
import ActiveLink from '../components/ActiveLink'

const { titre } = Astro.props;
const { description } = Astro.props;
const url = Astro.url.pathname
const canonicalUrl = `https://www.kraze.fr${url}`;

---

<!doctype html>
<html lang="fr">
	<head>
		<title>{titre}</title>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/svg+xml" href="/logo/MONOGRAMME_KRAZE.svg"/>
    <link rel="canonical" href={canonicalUrl} />
    <meta name="description" content={description} />
		<meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>
  	<body>
      <header>
        <div class="header flex flex-col lg:flex-row">
          <a href="/corsets-et-bustiers" class="logo">
            <img src="/logo/LOGO KRAZE.svg" alt="KRAZE Corsets Logo" class="lg:w-[20em] w-[8em] " />
          </a>
          <div class="h-[60%] w-[100%] lg:self-end  justify-end flex lg:place-content-between mt-[10px] mb-[10px] lg:m-[0px]">
             <div class=" flex lg:h-[100%] lg:w-[40%] lg:gap-[3em] place-content-between lg:place-content-start hidden lg:flex">
                <ActiveLink client:load href="/projet-custom" position="top" >
                Custom</ActiveLink>
                <ActiveLink client:load href="/pieces-uniques" position="top" >
                Pièces Uniques</ActiveLink>
                <ActiveLink client:load href="/corsets-et-bustiers" position="top" >
                Corsets & Bustiers</ActiveLink>
              </div>
            <div class="flex gap-1 ">
              <ActiveLink client:load href="/panier" position="top">Panier</ActiveLink>
              <CartBadge client:only />

            </div>

          </div>
           <div class=" lg:hidden flex h-[100%] w-[100%] gap-[1em] place-content-between lg:place-content-start">
                <ActiveLink client:load href="/projet-custom" position="top" >
                Custom</ActiveLink>
                <ActiveLink client:load href="/pieces-uniques" position="top" >
                Pièces Uniques</ActiveLink>
                <ActiveLink client:load href="/corsets-et-bustiers" position="top" >
                Corsets</ActiveLink>
              </div>
        </div>
      </header>

      <main>
        <slot />
      </main>
      <footer>
        <div class="footer flex flex-col place-content-between justify-end lg:justify-start">
          <div class="h-[60%] w-[100%] flex place-content-between">

            <ActiveLink client:load href="/mentions-legales" position ="end">Mentions légales</ActiveLink>

            <div class="flex gap-3">
              <div class="mb-[0.3em] self-end">
                <a href="https://www.instagram.com/kraze.corseterie.broderie/" target="_blank" rel="noopener" aria-label="Visitez notre page Instagram">
                <svg fill="#8940f0" height="1em" width="1em" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-271 273 256 256" xml:space="preserve">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round"
                  stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                    <path d="M-64.5,273h-157c-27.3,0-49.5,22.2-49.5,49.5v52.3v104.8c0,27.3,22.2,49.5,49.5,
                    49.5h157c27.3,0,49.5-22.2,49.5-49.5V374.7 v-52.3C-15.1,295.2-37.3,273-64.5,273z M-50.3,
                    302.5h5.7v5.6v37.8l-43.3,0.1l-0.1-43.4L-50.3,302.5z M-179.6,374.7 c8.2-11.3,21.5-18.8,
                    36.5-18.8s28.3,7.4,36.5,18.8c5.4,7.4,8.5,16.5,8.5,26.3c0,24.8-20.2,45.1-45.1,45.1s-44.9-20.3-44.9-45.1 C-188.1,
                    391.2-184.9,382.1-179.6,374.7z M-40,479.5C-40,493-51,504-64.5,504h-157c-13.5,0-24.5-11-24.5-24.5V374.7h38.2 c-3.3,
                    8.1-5.2,17-5.2,26.3c0,38.6,31.4,70,70,70c38.6,0,70-31.4,70-70c0-9.3-1.9-18.2-5.2-26.3H-40V479.5z"></path>
                  </g></svg></a>
                </div>
              <ActiveLink client:load href="/a-propos" position="end" >
                À propos
              </ActiveLink>
            </div>
          </div>
        </div>
      </footer>

	</body>
</html>
